@import "./css/_components/normalize";
@import "./css/_components/variables";
@import "./css/_components/mixins";

@import "./css/_pages/favoris";
@import "./css/pages/API";
@import "./css/pages/confidentialite";
@import "./css/pages/mentions_legales";
@import "./css/pages/index";
@import "./css/pages/styleshorloge";
