body {
color:black;
background-color:white;
background-image:url(images/paysage_neige.jpeg) no repat center center;
background-size:cover;
margin:0;
}
.clock {
  margin: auto;
  width: 700px;
  text-align: center;
  font-size: 2.5em;
}

.completeinformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 0;
}
.size{
  width: 3.5em;
}
#numerictime {
  font-size: 4.5em;
}
.centerText{
  display: flex;
  flex-direction: column;
  width: 35%; 

}
.infoTown{
  display: flex;
  text-align: center;
  font-size: 2.5em;
}

.date {
    color: #1e1e23;
    font-size: 1em;
    margin-top: 30px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
    display: inline-block;
    padding-bottom: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

.sizepicture {
  width: 155%;
}
.sizepicture2 {
  display: flex;
  flex-direction: row;
  width: 120%;
}
.visutemps{
  width:96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.favOrg{
  display: flex;
  justify-content: ar;
  font-size: 40%;
}