body {
color:black;
background-color:white;
background-image:url(images/paysage_neige.jpeg) no repat center center;
background-size:cover;
margin:0;
}
.clock {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 700px;
  text-align: center;
  font-size: 2.5em;
}
.interface{
  background-color: rgb(136, 219, 237);
  border-radius: 60px;
  margin-left: 30%;
  margin-right:30%;
  margin-top: 5%;
  margin-bottom: 5% !important;
}

.completeinformation {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  margin-top: 0;
}
.size{
  width: 3.5em;
}
#numerictime {
  font-size: 4.5em;
}

.utc{
  display: flex;
  justify-content: center;
}
.sizeMenu{
  font-size: 1em;
  margin-bottom: 3%;
}
.centerText{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 35%; 
}

.infoTown{
  display: flex;
  width: 300px; 
  font-size: 2.5em;
  margin-top: 5%;
}
.align{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
      
.marginDate{
  margin-top: 3%;
}
.configBtn{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  text-align: center;

}
.config2Btn{
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 670px;
  height: 50px;
}
.config3Btn {
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 20%;

}
.date{
    color: #1e1e23;
    font-size: 1em;
    margin-top: 30px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
    display: inline-block;
    padding-bottom: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sizepicture {
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
}
.sizepicture2{
  display: flex;
  flex-direction: column;
  width: 120%;
}
.sizepicture3{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 15%;
  margin-top: 3%;
}
.visutemps{
  width:96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.favOrg{
  display: flex;
  justify-content: ar;
  font-size: 40%;
}